{%extends 'all-gallery/base.html'%}

 {% block content %}
<!-- ...................... this is html to search single image by  id........................ -->


 <div class="container">

   <div class="row">
     <img src="{{image.image_image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <!-- <h1 class="text-center">{{article.title}}</h1> -->
   </div>

   <div class="row">
     <p>{{article.post}}</p>
   </div>

   <div class="row">
     <p>Posted {{image.pub_date|timesince}} in {{image.location.location}}</p>
   </div>

 </div>
 
 <footer style ="margin-top:50px; background-color:black;color:white;font-size:20px; text-align:center;padding-top:50px;height:100px;"> copyrigth|Laetitia|All right reserved</footer>
 {% endblock %}