{%extends 'all-gallery/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-6">
          
          
      <img src="{{image.image_image.url}}"  class="img-responsive"   width="500" data-toggle="modal" data-target="#myModal{{gallery_item.id}}"alt="Image">
      <h1>{{image.description}}</h1>  
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}