{%extends 'all-gallery/base.html'%}
{% block content %} 


<div class="container">
  <blockquote>
 <button class="btn btn-warning btn-lg outline"><a href="/location/1"  style="text-decoration:none;color:black;text-transform:uppercase;">kigali </a></button>
 <button class="btn btn-warning btn-lg outline"><a href="/location/2" style ="text-decoration :none;color:black;text-transform:uppercase;" >usa </a></button>
 <button class="btn btn-warning btn-lg outline"><a href="/location/3"  style="text-decoration:none;color:black;text-transform:uppercase;">Gisenyi </a></button>
 <button class="btn btn-warning btn-lg outline"><a href="/location/4" style ="text-decoration :none;color:black;text-transform:uppercase;" > Cyangugu</a></button>
 <button class="btn btn-warning btn-lg outline"><a href="/location/1"  style="text-decoration:none;color:black;text-transform:uppercase;">canada</a></button>
 <button class="btn btn-warning btn-lg outline"><a href="/location/2" style ="text-decoration :none;color:black;text-transform:uppercase;" >Gatsata </a></button>
</blockquote> 
 <!-- Looping through news   -->
  <div class="row">
  {% for gallery_item in gallery %}
  
   

  <div class="col-md-3">
      <img src="{{gallery_item.image_image.url}}" class="img-responsive"  width="400" data-toggle="modal" data-target="#myModal{{gallery_item.id}}"alt="Image">
    </div>
<div class="modal" id="myModal{{gallery_item.id}}">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <img src="{{gallery_item.image_image.url}}" class="img-responsive"  width="500px" data-toggle="modal" data-target="#myModal"alt="Image">
              <h4 class="modal-title"> Name:{{ gallery_item.name}}</h4>
              <h4  class="modal-title">Description:{{ gallery_item.description}}</h4>
              <h4> Posted :{{gallery_item.pub_date|timesince}} </h4>
              <input type="text" value="http://127.0.0.1:8000{{gallery_item.image_image.url}}" id="myInput">
              <br>
              <button onclick="copyText()" class="btn btn-success">Copy Link</button>
      
              <button type="button" class="close" data-dismiss="modal">&times;</button>
           
            </div>
            <!-- Modal body -->
            
                   
            
            </div>
        </div>
</div>



 

 


{% endfor %}
</div>
</div>
<script>
  function copyText() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
</script>
<style>
  body {
  background-color : #ecf0f1
}
.outline {
    background-color: transparent;
    color: inherit;
    transition: all .25s;
    width:150px;

}
.btn-primary.outline {
    color: #428bca;
}
.btn-success.outline {
    color: #5cb85c;
}
.btn-info.outline {
    color: #5bc0de;
}
.btn-warning.outline {
    color: #f0ad4e;
}
.btn-danger.outline {
    color: #d9534f;
}
.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
    color: #fff;
}
</style>
<footer style ="margin-top:50px; background-color:black;color:white;font-size:20px; text-align:center;padding-top:50px;height:100px;"> copyrigth|Laetitia|All right reserved</footer>
{% endblock %}